body {
  /* background-image: url('../src/staffillinoisbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; */
}

.navbar {
  padding: 1rem;
}

.null-space {
  flex-grow: 1;
}
